/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
    VARIÁVEIS DE COR (Extraídas da Logo)
*/
:root {
  --plum-dark: #6b143a;      /* Vinho escuro do texto "Mimos Crochê" */
  --pink-yarn: #cc3b7c;      /* Rosa vivo do novelo e coração */
  --pink-yarn-hover: #6a1e40;/* Tom mais escuro para o hover do botão */
  --lilac-lace: #bf89b6;     /* Lilás da borda rendada externa */
  
  --bg-color: #fdf7fc;       /* Fundo da página com um toque super leve de rosa/lilás */
  --form-bg: #ffffff;        /* Fundo do formulário branco */
  --text-color: #4a2c40;     /* Cor dos rótulos (um tom escuro e suave, não 100% preto) */
  --border-color: #e3d1df;   /* Lilás bem clarinho para as bordas dos inputs inativos */
}

